[submodule "microservices/comment-service"]
	path = microservices/comment-service
	url = https://github.com/MardonioEng/ems-algacomments-comment-service.git
	branch = main
[submodule "microservices/moderation-service"]
	path = microservices/moderation-service
	url = https://github.com/MardonioEng/ems-algacomments-moderation-service.git
	branch = main
